/* ==========================================================================
   Author's custom styles - seu.nome@planb.com.br
   ========================================================================== */
header {
  width: 100%;
  background-color: #f0f0ed;
  height: 220px; }

#header-container {
  width: 960px;
  margin: auto; }

#home-content {
  width: 960px;
  margin: auto; }
