/* ==========================================================================
   Author's custom styles - seu.nome@planb.com.br
   ========================================================================== */

$headerBgColor:#f0f0ed;
$footerBgColor:#076e3d;
$subFooterBgColor:#02512b;
$bodyBgColor:#FFF;

$baseTextColor: #666;
$subTextColor: #FFF;
$highlightColor:#056839;
$subHighlightColor:#333;

$projectHighlightBgColor:#056839;

@mixin containerCenter(){
	width: 950px;
	margin:auto;
	padding: 0 5px;
}

@font-face {
    font-family: 'NeutraTextTFDemiAlt';
    src: url('fonts/neutratexttf-demialt.eot');
    src: url('fonts/neutratexttf-demialt.eot') format('embedded-opentype'),
         url('fonts/neutratexttf-demialt.woff') format('woff'),
         url('fonts/neutratexttf-demialt.ttf') format('truetype'),
         url('fonts/neutratexttf-demialt.svg#NeutraTextTFDemiAlt') format('svg');
}

@font-face {
    font-family: 'NeutraTextTFBookAlt';
    src: url('fonts/neutratexttf-bookalt.eot');
    src: url('fonts/neutratexttf-bookalt.eot') format('embedded-opentype'),
         url('fonts/neutratexttf-bookalt.woff') format('woff'),
         url('fonts/neutratexttf-bookalt.ttf') format('truetype'),
         url('fonts/neutratexttf-bookalt.svg#NeutraTextTFBookAlt') format('svg');
}


body{
	font-size: 12px;
	font-family: Arial;
	color: $baseTextColor;
}

header{
	font-family: 'NeutraTextTFDemiAlt';
	border-bottom: 3px solid #006445;
	width: 100%;
	height: 220px;
	position: relative;
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #ddddda 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ddddda));
	background: -webkit-linear-gradient(top, #fefefe 0%,#ddddda 100%);
	background: -o-linear-gradient(top, #fefefe 0%,#ddddda 100%);
	background: -ms-linear-gradient(top, #fefefe 0%,#ddddda 100%);
	background: linear-gradient(to bottom, #fefefe 0%,#ddddda 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ddddda',GradientType=0 );
}
header:before{
	bottom: -3px;
    box-shadow: 0 -3px 5px #000000;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
}
#header-container{
	@include containerCenter();
}
#home-content{
	@include containerCenter();
	overflow: hidden;
	padding-top: 65px;
}

.logo{
	margin-top: 43px;
	float: left;
}
#social-nav{
	float: right;
	text-transform: uppercase;

	li{
		float: left;
	}

	a{
		background-color: #dbdbdb;
		display: block;
		color: $baseTextColor;
		text-decoration: none;
		font-size: 10px;
		text-align: center;
	}

	.facebook, .email{
		background: url("../img/icons.png") no-repeat scroll 0 0 #dbdbdb;
		border-radius: 20px;
		width: 31px;
		text-indent: -9999px;
		height: 31px;
		margin: 7px 5px 0;
	}
	.facebook{
		background-position: 13px 9px;
	}
	.email{
		background-position: -28px 9px;
	}
	.acompanhar-empreendimento, .login{
		padding-top: 12px;
		height: 25px;
	}
	.acompanhar-empreendimento{
		width: 206px;
		margin: 0 1px 0 20px;
	}
	.login{
		width: 63px;
	}
}
.header-telephone{
	color: $highlightColor;
	font-size: 25px;
    float: right;
    margin: 56px 0 0 0;
    text-transform: uppercase;
}

.main-nav{
	float: left;
    height: 67px;
    width: 960px;
    border-top: 1px solid #FFF;
    margin-top: 36px;
    position: relative;

    li{
    	float: left;
    	margin-left: 41px;
    }
    li:first-child{
    	margin-left: 5px;
    }
    a{
    	font-size: 13px;
    	text: {
    		transform: uppercase;
    		decoration: none;
    	}
    	color: $baseTextColor;
    	padding: 25px 0;
    	display: block;
    }
}
.main-nav:before{
	border-top: 1px solid #CAC9C5;
    content: "";
    position: absolute;
    top: -2px;
    width: 960px;
}

#banner{
	background: url("../img/banner/1.jpg") no-repeat scroll center 0 transparent;
    height: 327px;
    width: 100%;
}

.main{
	min-height: 800px;
}

.list-obras{
	width: 720px;
	float: left;
}

.filter-nav{
	/*overflow: hidden;*/
	position: absolute;
	z-index: 5;
	font-family: 'NeutraTextTFDemiAlt';
	font-size: 12px;
}
.filter{
	display: none;
	position: absolute;
	background-color: #F0F0ED;
    border-bottom: 1px solid #DEDCD5;
    border-left: 1px solid #DEDCD5;
    border-right: 1px solid #DEDCD5;
    display: none;
    position: absolute;
    top: 36px;
    width: 303px;
    z-index: 5;
}
#filter-obras{
	left: 0;
}
#filter-bairro{
	left: 354px;
}
.filter-type-link{
	background: url("../img/selectbox.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 24px;
    width: 324px;
    color:#999;
    padding:13px 0 0 20px;
    margin-right: 10px;
    text:{
    	transform:uppercase;
    	decoration: none;
    }
}
.filter-link{
	color:#999;
	display: block;
	padding: 10px 0 10px 20px;
	text:{
		transform:uppercase;
    	decoration: none;
	}
}
.filter li{
	border-top: 1px solid #DEDCD5;
}
#works{
	padding-top: 80px;
	width: 100%;
}
.work-image{
	/*box-shadow: -22px -5px 24px #000000;*/
    margin: auto;
    width: 210px;
    position: relative;
}
.work-stamp{
    height: 19px;
    position: absolute;
    right: -5px;
    top: 23px;
    width: 158px;
    font-family: 'NeutraTextTFDemiAlt';
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    padding-top: 6px;
}
.lancamento{
	background: #e97600;
	background: -moz-linear-gradient(top, #f0a100 0%, #e97600 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0a100), color-stop(100%,#e97600));
	background: -webkit-linear-gradient(top, #f0a100 0%,#e97600 100%);
	background: -o-linear-gradient(top, #f0a100 0%,#e97600 100%);
	background: -ms-linear-gradient(top, #f0a100 0%,#e97600 100%);
	background: linear-gradient(to bottom, #f0a100 0%,#e97600 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0a100', endColorstr='#e97600',GradientType=0 );
}
.pronto-morar{
	background: #891c00;
	background: -moz-linear-gradient(top, #aa2600 0%, #891c00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa2600), color-stop(100%,#891c00));
	background: -webkit-linear-gradient(top, #aa2600 0%,#891c00 100%);
	background: -o-linear-gradient(top, #aa2600 0%,#891c00 100%);
	background: -ms-linear-gradient(top, #aa2600 0%,#891c00 100%);
	background: linear-gradient(to bottom, #aa2600 0%,#891c00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa2600', endColorstr='#891c00',GradientType=0 );
}
.em-obras{
	background: #eab100;
	background: -moz-linear-gradient(top, #eecb00 0%, #eab100 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eecb00), color-stop(100%,#eab100));
	background: -webkit-linear-gradient(top, #eecb00 0%,#eab100 100%);
	background: -o-linear-gradient(top, #eecb00 0%,#eab100 100%);
	background: -ms-linear-gradient(top, #eecb00 0%,#eab100 100%);
	background: linear-gradient(to bottom, #eecb00 0%,#eab100 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eecb00', endColorstr='#eab100',GradientType=0 );
}
.work-name{
	font-family: 'NeutraTextTFDemiAlt';
	color: $highlightColor;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0 5px;
}
.work-description{
	text-align: center;
	line-height: 15px;
}
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
  width: 220px;
  height: 280px;
  margin: 0 7px;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}



// sidebar


.sidebar{
	float: left;
    padding: 65px 0 0 35px;
    width: 195px;
}
.search-input{
	background: url("../img/search.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: $baseTextColor;
    height: 37px;
    padding: 0 0 0 45px;
    width: 145px;
    margin-bottom: 35px;
}
#simulacao-caixa{
	font-family: 'NeutraTextTFDemiAlt';
	color: #FFF;
	text-transform: uppercase;
	font-size: 15px;
	width: 189px;
	height: 67px;
	background: #006aa7;
	display: block;
	text-align: center;
	border: 1px solid #666;
	border-radius: 5px;
	margin-top: 20px;
	text-decoration: none;
	background: -moz-linear-gradient(top, #006aa7 0%, #003c64 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006aa7), color-stop(100%,#003c64));
	background: -webkit-linear-gradient(top, #006aa7 0%,#003c64 100%);
	background: -o-linear-gradient(top, #006aa7 0%,#003c64 100%);
	background: -ms-linear-gradient(top, #006aa7 0%,#003c64 100%);
	background: linear-gradient(to bottom, #006aa7 0%,#003c64 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006aa7', endColorstr='#003c64',GradientType=0 );
}
#simulacao-caixa span{
	font-size: 22px;
	display: block;
	padding: 14px 0 5px;
}


.useful-links{
	overflow: hidden;
	padding-top: 105px;
}
.useful-links > div{
	float: left;
}
#negocie{
	width: 192px;
}
.negocie-title{
	font-family: 'NeutraTextTFBookAlt';
	font-size: 25px;
	text-transform: uppercase;
	color: #333;
	text-align: center;
	padding-bottom: 15px;
	line-height: 30px;
}
.negocie-link{
	text-decoration: none;
	font-family: 'NeutraTextTFDemiAlt';
	padding-top: 12px;
	border-radius: 5px;
	text-transform: uppercase;
	display: block;
	font-size: 18px;
	text-align: center;
	color: #FFF;
	border: 1px solid #666;
	width: 189px;
	height: 25px;
	background: #068448;
	background: -moz-linear-gradient(top, #068448 0%, #044c2a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#068448), color-stop(100%,#044c2a));
	background: -webkit-linear-gradient(top, #068448 0%,#044c2a 100%);
	background: -o-linear-gradient(top, #068448 0%,#044c2a 100%);
	background: -ms-linear-gradient(top, #068448 0%,#044c2a 100%);
	background: linear-gradient(to bottom, #068448 0%,#044c2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#068448', endColorstr='#044c2a',GradientType=0 );
}

#newsletter{
	width: 192px;
	padding: 0 25px;
	border-left: 1px solid #dedcd5;
	border-right: 1px solid #dedcd5;
	margin: 0 25px;
}
.newsletter-title{
	font-family: 'NeutraTextTFBookAlt';
	font-size: 17px;
	color: #333;
	text-transform: uppercase;
	text-align: center;
	line-height: 22px;
	padding: 10px 0 18px;
}
.newsletter-input{
	width: 170px;
	height: 37px;
	background-color: #f0f0ed;
	border: 1px solid #dededb;
	color: #999;
	font-size: 11px;
	border-radius: 25px;
	padding-left: 20px;
	text-transform: uppercase;
}

#vendas{
	color: #056839;
	text-transform: uppercase;
	width: 180px;
	text-align: center;
}
.vendas-title{
	font-size: 40px;
    padding: 8px 0 35px;
}
.vendas-telefone{
	font-size: 25px;
}


footer{
	background-color: #076e3d;
	height: 460px;
	width: 100%;
	margin-top: 100px;
	text-transform: uppercase;
}
#footer-container{
	@include containerCenter();
	overflow: hidden;
	height: 388px;
}
#footer-container > img{
	padding-top: 90px;
	float: left;
}
.footer-nav{

	float: left;
    padding: 90px 0 0 50px;

	li{
		list-style: disc inside none;
		color:#005337;
		padding: 8px 0;
	}
	a{
		color: #FFF;
		text-decoration: none;
		font-size: 12px;
		font-family: 'NeutraTextTFDemiAlt';
	}
}
.footer-adress{
	color:#FFF;
	font-family: 'NeutraTextTFDemiAlt';
	float: right;
	padding: 0 40px 90px 30px;
	margin-top: 90px;
	border-left: 1px solid #025c39;
}
.adress-title{
	opacity: 0.5;
	font-size: 14px;
	line-height: 22px;
}
.adress-title span{
	font-size: 25px;
}
.adress-fone{
	font-size: 35px;
	padding: 20px 0;
}
.adress-street{
	font-size: 14px;
	line-height: 15px;
	opacity: 0.5;
}

.sub-footer{
	height: 50px;
	background-color: #02512b;
	width: 100%;
	padding-top: 32px;
}
.sub-footer-container{
	@include containerCenter();
}
.copy{
	color: #002b1c;
	font-size: 12px;
}


// empreendimento interna

#interna-content{
	@include containerCenter();
	overflow: hidden;
	padding-top: 65px;
}
.empreendimento-container{
	padding-top: 80px;
}
h2{
	font-family: 'NeutraTextTFBookAlt';
	text-transform: uppercase;
	font-size: 40px;
	color: #056839;
}
h3{
	font-family: 'NeutraTextTFBookAlt';
	text-transform: uppercase;
	font-size: 30px;
	color: #056839;
}
.empreendimento-name{
	
}
.empreendimento-description{
	font-family: 'NeutraTextTFBookAlt';
	text-transform: uppercase;
	font-size: 20px;
	color: #666;
	padding-top: 5px;
}
.empreendimento-highlight{
	padding-top: 35px;
	overflow: hidden;
	font-size: 13px;
	padding-bottom: 45px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 45px;
}
.empreendimento-image{
	float: left;
	width: 600px;
}
.empreendimento-about{
	float: left;
	padding-top: 15px;
	width: 350px;
	line-height: 20px;
}
.atributos{
	padding-top: 20px;

	li{
		list-style: disc inside none;
		color: #056839;
		padding: 10px 0;
	}
	span{
		color: #666;
	}
}
.empreendimento-social{
	padding-top: 25px;
}
.empreendimento-social > div{
	float: left;
    width: 130px;
}


// localizacao


.location{
	padding-bottom: 45px;
	margin-bottom: 45px;
	border-bottom: 1px solid #e5e5e5;
}
#map-canvas{
	width: 947px;
	height: 386px;
	position: relative;
	margin-top: 35px;
}

// galeria

#gallery-container{
	position: relative;
	padding-bottom: 165px;
	padding-left: 57px;
	padding-right: 57px;
	padding-top: 50px;
}
#gallery{
	height: 390px;
    overflow: hidden;
    position: relative;
    width: 840px;
}
#gallery-container .large_text{
	font-family: 'NeutraTextTFBookAlt';
	text-transform: uppercase;
	font-size: 22px;
	color:#FFF;
}
.gallery-description {
    background-color: #000;
    height: 56px;
    opacity: 0.6 !important;
    width: 850px;
}
.tp-bullets.tp-thumbs{
	margin-left: 0 !important;
	left: 47px !important;
}
.tp-bullets.tp-thumbs .bullet{
	margin-left: 7px !important;
}

#gallery-container .tp-leftarrow{
	background: url("../img/gallery-arrows.png") no-repeat scroll 0 0 transparent;
    height: 168px;
    width: 57px;
    left: 0px !important;
    top: 225px !important;
}
#gallery-container .tp-rightarrow{
	background: url("../img/gallery-arrows.png") no-repeat scroll -58px 0 transparent;
    height: 168px;
    width: 57px;
    right: -4px !important;
    top: 225px !important;
}
#gallery-container .tp-leftarrow:hover{
	background-position: 0 -170px;
}
#interna-estatica{
	padding-top: 100px;
	line-height:20px;
	float: left;
	width: 720px;

	li{
		list-style: disc inside none;
		padding: 10px;
		color: #056839;

		span{
			color: #666;
		}
	}
}

.sidebar #vendas{
	border-top: 1px solid #DEDCD5;
    margin-top: 40px;
    padding-top: 30px;
    width: 190px;
}
.sidebar .vendas-title{
	font-size: 25px;
	padding-bottom: 15px;
}
.sidebar .vendas-description{
	font-family: 'NeutraTextTFBookAlt';
	font-size: 17px;
	color: #333;
	text-transform: none;
	padding-bottom: 10px;
}
.sidebar #negocie{
	width: 190px;
	border-top: 1px solid #DEDCD5;
    margin-top: 40px;
    padding-top: 30px;
}
.sidebar #newsletter{
	width: 190px;
	border-top: 1px solid #DEDCD5;
    margin-top: 40px;
    padding-top: 30px;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}













