/* ==========================================================================
   Author's custom styles - seu.nome@planb.com.br
   ========================================================================== */

$headerBgColor:#f0f0ed;
$footerBgColor:#076e3d;
$subFooterBgColor:#02512b;
$bodyBgColor:#FFF;

$baseTextColor: #666;
$subTextColor: #FFF;
$highlightColor:#056839;
$subHighlightColor:#333;

$projectHighlightBgColor:#056839;

@mixin containerCenter(){
	width: 950px;
	margin:auto;
	padding: 0 5px;
}

@font-face {
    font-family: 'NeutraTextTFDemiAlt';
    src: url('fonts/neutratexttf-demialt.eot');
    src: url('fonts/neutratexttf-demialt.eot') format('embedded-opentype'),
         url('fonts/neutratexttf-demialt.woff') format('woff'),
         url('fonts/neutratexttf-demialt.ttf') format('truetype'),
         url('fonts/neutratexttf-demialt.svg#NeutraTextTFDemiAlt') format('svg');
}

@font-face {
    font-family: 'NeutraTextTFBookAlt';
    src: url('fonts/neutratexttf-bookalt.eot');
    src: url('fonts/neutratexttf-bookalt.eot') format('embedded-opentype'),
         url('fonts/neutratexttf-bookalt.woff') format('woff'),
         url('fonts/neutratexttf-bookalt.ttf') format('truetype'),
         url('fonts/neutratexttf-bookalt.svg#NeutraTextTFBookAlt') format('svg');
}

@font-face {
    font-family: 'novecento_widelight';
    src: url('fonts/novecentowide-light-webfont.eot');
    src: url('fonts/novecentowide-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/novecentowide-light-webfont.woff') format('woff'),
         url('fonts/novecentowide-light-webfont.ttf') format('truetype'),
         url('fonts/novecentowide-light-webfont.svg#novecento_widelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-size: 12px;
	font-family: Arial;
	color: $baseTextColor;
}

header{
	font-family: 'NeutraTextTFDemiAlt';
	border-bottom: 3px solid #006445;
	width: 100%;
	height: 220px;
	position: relative;
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #ddddda 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ddddda));
	background: -webkit-linear-gradient(top, #fefefe 0%,#ddddda 100%);
	background: -o-linear-gradient(top, #fefefe 0%,#ddddda 100%);
	background: -ms-linear-gradient(top, #fefefe 0%,#ddddda 100%);
	background: linear-gradient(to bottom, #fefefe 0%,#ddddda 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ddddda',GradientType=0 );
}
header:before{
	bottom: -3px;
    box-shadow: 0 -3px 5px #000000;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
}
#header-container{
	@include containerCenter();
}
#home-content{
	@include containerCenter();
	overflow: hidden;
	padding-top: 65px;
}

.logo{
	margin-top: 43px;
	float: left;
	-moz-transition: all 0.7;
}
.logo:hover{
	opacity: 0.8;
}
#social-nav{
	float: right;
	text-transform: uppercase;
	position: relative;

	li{
		float: left;
	}

	a{
		background-color: #dbdbdb;
		display: block;
		color: $baseTextColor;
		text-decoration: none;
		font-size: 10px;
		text-align: center;
	}

	.facebook, .email{
		background: url("../img/icons.png") no-repeat scroll 0 0 #dbdbdb;
		border-radius: 20px;
		width: 31px;
		text-indent: -9999px;
		height: 31px;
		margin: 7px 5px 0;
	}
	.facebook{
		background-position: 13px 9px;
	}
	.email{
		background-position: -28px 9px;
	}
	.acompanhar-empreendimento, .login{
		padding-top: 12px;
		height: 25px;
	}
	.acompanhar-empreendimento{
		width: 206px;
		margin: 0 1px 0 20px;
	}
	.login{
		width: 63px;
	}
}
.header-telephone{
	color: $highlightColor;
	font-size: 25px;
    float: right;
    margin: 56px 0 0 0;
    text-transform: uppercase;
}

.main-nav{
	height: 64px;
    margin-top: 36px;
    width: 100%;
    float:left;

    ul{
    	width: 950px;
    	margin:auto;
    	border-top: 1px solid #FFF;
    	position: relative;
    }
    li{
    	float: left;
    	margin-left: 0;
    }
    .active{
    	a{
    		background-color: #056839;
    		color: #FFF;

    	}
    }
    a{
    	font-size: 13px;
    	text: {
    		transform: uppercase;
    		decoration: none;
    	}
    	color: $baseTextColor;
    	padding: 25px 18px;
    	display: block;
    	-moz-transition: all 0.4s;
    	-webkit-transition: all 0.4s;
    	-ms-transition: all 0.4s;
    	-o-transition: all 0.4s;
    	transition: all 0.4s;

    	&:hover{
    		background-color: #056839;
    		color: #FFF;
    	}
    	&.small{
    		padding: 25px 26px 25px 27px;
    	}
    }
}
.main-nav.fixed{
    	background: none repeat scroll 0 0 #DDDDDA;
	    border-bottom: 3px solid #006445;
	    position: fixed;
	    top: -37px;
	    z-index: 10000;
    }
.main-nav ul:before{
	border-top: 1px solid #CAC9C5;
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 950px;
}

#banner {
    height: 327px !important;
    width: 100%;
}
.banner {
    height: 327px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.banner-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    width: 100%;
}
#banner .tp-bullets{
	left:70% !important;
}
#banner .tp-bullets.simplebullets.round .bullet {
    background: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    float: left;
    height: 14px;
    margin-left: 6px;
    margin-right: 0;
    margin-top: -10px;
    position: relative;
    width: 14px;
} 
#banner .tp-bullets.simplebullets.round .bullet:hover, #banner .tp-bullets.simplebullets.round .bullet.selected{
	background:#079c6d;
}
.main{
	min-height: 800px;
}

.list-obras{
	width: 720px;
	float: left;
	.item{
		padding-bottom:20px; 
	}
}

.filter-nav{
	/*overflow: hidden;*/
	position: absolute;
	z-index: 5;
	font-family: 'NeutraTextTFDemiAlt';
	font-size: 12px;
}
.filter{
	display: none;
	position: absolute;
	background-color: #F0F0ED;
    border-bottom: 1px solid #DEDCD5;
    border-left: 1px solid #DEDCD5;
    border-right: 1px solid #DEDCD5;
    display: none;
    position: absolute;
    top: 36px;
    width: 265px;
    z-index: 5;
}
#filter-obras{
	left: 0;
}
#filter-bairro{
	left: 277px;
}
.filter-type-link{
	background: url("../img/selectbox.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 23px;
    width: 247px;
    color:#999;
    padding:14px 0 0 20px;
    margin-right: 10px;
    text:{
    	transform:uppercase;
    	decoration: none;
    }
}
.filter-link{
	color:#999;
	display: block;
	padding: 10px 0 10px 20px;
	text:{
		transform:uppercase;
    	decoration: none;
	}
}
.filter li{
	border-top: 1px solid #DEDCD5;
}
#buscar-empreendimentos{
	float: left;
	color:#FFF;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	width: 149px;
	padding-top: 9px;
	height: 27px;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	text-align: center;
	font-family: 'NeutraTextTFDemiAlt';
	background: #9a9a9a;
	background: -moz-linear-gradient(top, #c9c9c9 0%, #9a9a9a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(100%,#9a9a9a));
	background: -webkit-linear-gradient(top, #c9c9c9 0%,#9a9a9a 100%);
	background: -o-linear-gradient(top, #c9c9c9 0%,#9a9a9a 100%);
	background: -ms-linear-gradient(top, #c9c9c9 0%,#9a9a9a 100%);
	background: linear-gradient(to bottom, #c9c9c9 0%,#9a9a9a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#9a9a9a',GradientType=0 );

	&:hover{
		background: #c9c9c9;
		background: -moz-linear-gradient(top, #9a9a9a 0%, #c9c9c9 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(100%,#9a9a9a));
		background: -webkit-linear-gradient(top, #9a9a9a 0%,#c9c9c9 100%);
		background: -o-linear-gradient(top, #9a9a9a 0%,#c9c9c9 100%);
		background: -ms-linear-gradient(top, #9a9a9a 0%,#c9c9c9 100%);
		background: linear-gradient(to bottom, #9a9a9a 0%,#c9c9c9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9a9a', endColorstr='#c9c9c9',GradientType=0 );
	}
}
#works{
	padding-top: 80px;
	width: 100%;
}
.work-image{
	/*box-shadow: -22px -5px 24px #000000;*/
    margin: auto;
    width: 210px;
    height:190px;
    position: relative;
    overflow:hidden;
}
.work-image img{
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.work-image img:hover{
	-moz-transform: scale(1.3,1.3);
	-webkit-transform: scale(1.3,1.3);
	-o-transform: scale(1.3,1.3);
	-ms-transform: scale(1.3,1.3);
}
.work-stamp{
    height: 19px;
    position: absolute;
    right: -5px;
    top: 23px;
    width: 158px;
    font-family: 'NeutraTextTFDemiAlt';
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    padding-top: 6px;
}
.lancamento{
	background: #e97600;
	background: -moz-linear-gradient(top, #f0a100 0%, #e97600 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0a100), color-stop(100%,#e97600));
	background: -webkit-linear-gradient(top, #f0a100 0%,#e97600 100%);
	background: -o-linear-gradient(top, #f0a100 0%,#e97600 100%);
	background: -ms-linear-gradient(top, #f0a100 0%,#e97600 100%);
	background: linear-gradient(to bottom, #f0a100 0%,#e97600 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0a100', endColorstr='#e97600',GradientType=0 );
}
.pronto-morar{
	background: #891c00;
	background: -moz-linear-gradient(top, #aa2600 0%, #891c00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa2600), color-stop(100%,#891c00));
	background: -webkit-linear-gradient(top, #aa2600 0%,#891c00 100%);
	background: -o-linear-gradient(top, #aa2600 0%,#891c00 100%);
	background: -ms-linear-gradient(top, #aa2600 0%,#891c00 100%);
	background: linear-gradient(to bottom, #aa2600 0%,#891c00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa2600', endColorstr='#891c00',GradientType=0 );
}
.em-obras{
	background: #eab100;
	background: -moz-linear-gradient(top, #eecb00 0%, #eab100 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eecb00), color-stop(100%,#eab100));
	background: -webkit-linear-gradient(top, #eecb00 0%,#eab100 100%);
	background: -o-linear-gradient(top, #eecb00 0%,#eab100 100%);
	background: -ms-linear-gradient(top, #eecb00 0%,#eab100 100%);
	background: linear-gradient(to bottom, #eecb00 0%,#eab100 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eecb00', endColorstr='#eab100',GradientType=0 );
}
.vendido{
	background: #377feb;
	background: -moz-linear-gradient(top, #377feb 0%, #2658e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#377feb), color-stop(100%,#2658e2));
	background: -webkit-linear-gradient(top, #377feb 0%,#2658e2 100%);
	background: -o-linear-gradient(top, #377feb 0%,#2658e2 100%);
	background: -ms-linear-gradient(top, #377feb 0%,#2658e2 100%);
	background: linear-gradient(to bottom, #377feb 0%,#2658e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#377feb', endColorstr='#2658e2',GradientType=0 );
}
.work-name{
	font-family: 'NeutraTextTFDemiAlt';
	color: $highlightColor;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0 5px;
}
.work-description{
	text-align: center;
	line-height: 15px;
}
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
  width: 220px;
  height: 280px;
  margin: 0 7px;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}



// sidebar


.sidebar{
	float: left;
    padding: 0 0 0 35px;
    width: 195px;
}
.search-input{
	background: url("../img/search.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: $baseTextColor;
    height: 37px;
    padding: 0 0 0 45px;
    width: 145px;
    margin-bottom: 35px;
}
#simulacao-caixa{
	font-family: 'NeutraTextTFDemiAlt';
	color: #FFF;
	text-transform: uppercase;
	font-size: 15px;
	width: 189px;
	height: 67px;
	background: #006aa7;
	display: block;
	text-align: center;
	border: 1px solid #666;
	border-radius: 5px;
	margin-top: 20px;
	text-decoration: none;
	background: -moz-linear-gradient(top, #006aa7 0%, #003c64 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006aa7), color-stop(100%,#003c64));
	background: -webkit-linear-gradient(top, #006aa7 0%,#003c64 100%);
	background: -o-linear-gradient(top, #006aa7 0%,#003c64 100%);
	background: -ms-linear-gradient(top, #006aa7 0%,#003c64 100%);
	background: linear-gradient(to bottom, #006aa7 0%,#003c64 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006aa7', endColorstr='#003c64',GradientType=0 );

	&:hover{
		background: #003c64;
		background: -moz-linear-gradient(top, #003c64 0%, #006aa7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003c64), color-stop(100%,#006aa7));
		background: -webkit-linear-gradient(top, #003c64 0%,#006aa7 100%);
		background: -o-linear-gradient(top, #003c64 0%,#006aa7 100%);
		background: -ms-linear-gradient(top, #003c64 0%,#006aa7 100%);
		background: linear-gradient(to bottom, #003c64 0%,#006aa7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003c64', endColorstr='#006aa7',GradientType=0 );
	}
}
#simulacao-caixa span{
	font-size: 22px;
	display: block;
	padding: 14px 0 5px;
}


.useful-links{
	overflow: hidden;
	padding-top: 105px;
}
.useful-links > div{
	float: left;
}
.form-error{
	color:red;
}
#flashMessage {
	background-color: #056839;
    color: #FFFFFF;
    font-family: 'NeutraTextTFBookAlt';
    font-size: 18px;
    margin: 20px 0 90px;
    padding: 15px;
    text-transform: uppercase;
}
#negocie{
	width: 192px;
}
.negocie-title{
	font-family: 'NeutraTextTFBookAlt';
	font-size: 25px;
	text-transform: uppercase;
	color: #333;
	text-align: center;
	padding-bottom: 15px;
	line-height: 30px;
	margin: 10px 0;
} 
.negocie-link{
	text-decoration: none;
	font-family: 'NeutraTextTFDemiAlt';
	padding-top: 12px;
	border-radius: 5px;
	text-transform: uppercase;
	display: block;
	font-size: 18px;
	text-align: center;
	color: #FFF;
	border: 1px solid #666;
	width: 189px;
	height: 25px;
	background: #068448;
	background: -moz-linear-gradient(top, #068448 0%, #044c2a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#068448), color-stop(100%,#044c2a));
	background: -webkit-linear-gradient(top, #068448 0%,#044c2a 100%);
	background: -o-linear-gradient(top, #068448 0%,#044c2a 100%);
	background: -ms-linear-gradient(top, #068448 0%,#044c2a 100%);
	background: linear-gradient(to bottom, #068448 0%,#044c2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#068448', endColorstr='#044c2a',GradientType=0 );

	&:hover{
		background: #044c2a;
		background: -moz-linear-gradient(top, #044c2a 0%, #068448 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#044c2a), color-stop(100%,#068448));
		background: -webkit-linear-gradient(top, #044c2a 0%,#068448 100%);
		background: -o-linear-gradient(top, #044c2a 0%,#068448 100%);
		background: -ms-linear-gradient(top, #044c2a 0%,#068448 100%);
		background: linear-gradient(to bottom, #044c2a 0%,#068448 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#044c2a', endColorstr='#068448',GradientType=0 );
	}
}

#newsletter{
	width: 192px;
	padding: 0 25px;
	border-left: 1px solid #dedcd5;
	border-right: 1px solid #dedcd5;
	margin: 0 25px;
	position:relative;
}
.newsletter-title{
	font-family: 'NeutraTextTFBookAlt';
	font-size: 17px;
	color: #333;
	text-transform: uppercase;
	text-align: center;
	line-height: 22px;
	padding: 10px 0 18px;
}
.newsletter-input{
	width: 170px;
	height: 37px;
	background-color: #f0f0ed;
	border: 1px solid #dededb;
	color: #999;
	font-size: 11px;
	border-radius: 25px;
	padding-left: 20px;
	text-transform: uppercase;
}
.newsletter-submit{
	background: url("../img/go.png") no-repeat scroll 50% 50% transparent;
    border: medium none;
    cursor: pointer;
    height: 36px;
    position: absolute;
    right: 31px;
    top: 96px;
    width: 35px;
}
#vendas{
	color: #056839;
	text-transform: uppercase;
	width: 180px;
	text-align: center;
}
.vendas-title{
	font-size: 40px;
    padding: 8px 0 35px;
}
.vendas-telefone{
	font-size: 25px;
}


footer{
	background-color: #076e3d;
	height: 380px;
	width: 100%;
	margin-top: 100px;
	text-transform: uppercase;
}
#footer-container{
	@include containerCenter();
	overflow: hidden;
	height: 320px;
}
#footer-container > img{
	padding-top: 40px;
	float: left;
}
.footer-nav{

	float: left;
    padding:40px 0 0 50px;

	li{
		list-style: disc inside none;
		color:#005337;
		padding: 8px 0;
		width:240px;
	}
	a{
		color: #FFF;
		text-decoration: none;
		font-size: 12px;
		font-family: 'NeutraTextTFDemiAlt';
	}
}
.footer-adress{
	color:#FFF;
	font-family: 'NeutraTextTFDemiAlt';
	float: right;
	padding: 0 40px 90px 30px;
	margin-top: 40px;
	border-left: 1px solid #025c39;
}
.adress-title{
	opacity: 0.5;
	font-size: 14px;
	line-height: 22px;
}
.adress-title span{
	font-size: 25px;
}
.adress-fone{
	font-size: 35px;
	padding: 20px 0;
}
.adress-street{
	font-size: 14px;
	line-height: 15px;
	opacity: 0.5;
}

.sub-footer{
	height: 35px;
	background-color: #02512b;
	width: 100%;
	padding-top: 25px;
}
.sub-footer-container{
	@include containerCenter();
}
.copy{
	color: #002b1c;
	font-size: 12px;
}


// empreendimento interna

#interna-content{
	@include containerCenter();
	overflow: hidden;
	padding-top: 65px;
}
.empreendimento-container{
	padding-top: 80px;
}
h2{
	font-family: 'NeutraTextTFBookAlt';
	text-transform: uppercase;
	font-size: 40px;
	color: #056839;
}
h3{
	font-family: 'NeutraTextTFBookAlt';
	text-transform: uppercase;
	font-size: 30px;
	color: #056839;
}
h4{
	font-family: 'NeutraTextTFBookAlt';
	text-transform: uppercase;
	font-size: 18px;
	color: #056839;
	padding-bottom:10px;
}
.empreendimento-name{
	
}
.empreendimento-description{
	font-family: 'NeutraTextTFBookAlt';
	text-transform: uppercase;
	font-size: 20px;
	color: #666;
	padding-top: 5px;
}
.empreendimento-highlight{
	padding-top: 35px;
	overflow: hidden;
	font-size: 13px;
	padding-bottom: 45px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 45px;
}
.empreendimento-image{
	float: left;
	width: 600px;
}
.empreendimento-about{
	float: left;
	padding-top: 15px;
	width: 350px;
	line-height: 20px;
	min-height: 330px;
}
.atributos{
	padding-top: 20px;

	li{
		list-style: disc inside none;
		color: #056839;
		padding: 10px 0;
	}
	span{
		color: #666;
	}
}
.empreendimento-social{
	padding-top: 25px;
}
.empreendimento-social > div{
	float: left;
    width: 130px;
}


// localizacao


.location{
	padding-top: 40px;
	padding-bottom: 45px;
	margin-bottom: 45px;
	border-bottom: 1px solid #e5e5e5;
	float: left;
}
#map-canvas{
	width: 947px;
	height: 386px;
	position: relative;
	margin-top: 35px;
}

// galeria

#gallery-container{
	position: relative;
	padding-bottom: 165px;
	padding-left: 57px;
	padding-right: 57px;
	padding-top: 50px;
}
#gallery{
	height: 390px;
    overflow: hidden;
    position: relative;
    width: 840px;
}
#gallery-container .large_text{
	font-family: 'NeutraTextTFBookAlt';
	text-transform: uppercase;
	font-size: 22px;
	color:#FFF;
}
.gallery-description {
    background-color: #000;
    height: 56px;
    opacity: 0.6 !important;
    width: 850px;
}
.tp-bullets.tp-thumbs{
	margin-left: 0 !important;
	left: 47px !important;
}
.tp-bullets.tp-thumbs .bullet{
	margin-left: 7px !important;
}

#gallery-container .tp-leftarrow{
	background: url("../img/gallery-arrows.png") no-repeat scroll 0 0 transparent;
    height: 168px;
    width: 57px;
    left: 0px !important;
    top: 225px !important;
}
#gallery-container .tp-rightarrow{
	background: url("../img/gallery-arrows.png") no-repeat scroll -58px 0 transparent;
    height: 168px;
    width: 57px;
    right: -4px !important;
    top: 225px !important;
}
#gallery-container .tp-leftarrow:hover{
	background-position: 0 -170px;
}
#interna-estatica{
	padding-top: 100px;
	line-height:20px;
	float: left;
	width: 720px;

	li{
		list-style: disc inside none;
		padding: 10px 0;
		color: #056839;

		span{
			color: #666;

			b{
				color: #056839;
				font-weight: bold;
			}
		}
	}
}

.sidebar #vendas{
	border-top: 1px solid #DEDCD5;
    margin-top: 40px;
    padding-top: 30px;
    width: 190px;
}
.sidebar .vendas-title{
	font-size: 25px;
	padding-bottom: 15px;
}
.sidebar .vendas-description{
	font-family: 'NeutraTextTFBookAlt';
	font-size: 17px;
	color: #333;
	text-transform: none;
	padding-bottom: 10px;
}
.sidebar #negocie{
	width: 190px;
	border-top: 1px solid #DEDCD5;
    margin-top: 40px;
    padding-top: 30px;
}
.sidebar #newsletter{
	width: 190px;
	border-top: 1px solid #DEDCD5;
    margin-top: 40px;
    padding-top: 30px;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.nav-investidores{

	padding-top:36px;

	ul{
		
	}
	li{
		list-style-type:none !important;
		border-top:1px solid #e2e2e2;
		padding:35px 0 !important;

		&:first-child{
			border-top:none;
		}
		b{
			font-weight: bold;
		}
	}
	a{
		color:#056839;
		font-family: 'NeutraTextTFBookAlt';
		font-size:30px;
		text-transform: uppercase;
		text-decoration: none;
		widows: 710px;
		padding-left: 26px;
		display: block;
		background: url("../img/investidores.png") no-repeat scroll 0 -80px transparent;
	}
}
.investidores-content{
	padding-top:30px;
	color:#666;
	display:none;
}
.image-porque-investir{
	margin: auto;
    width: 376px;
}
.image-sete-lagoas{
	padding-top:20px;
}
.image-grancorp{
	padding-top:20px;
}
.image-tabela{
	padding-top:20px;
}

.form-padrao{

	width:550px;

	input[type="text"], input[type="email"], input[type="password"]{
		width: 532px;
		height: 35px;
		border:1px solid #dedcd5;
		background-color:#f0f0ed;
		border-radius: 3px;
		margin: 10px 0;
		padding-left:18px;
		font-family: 'NeutraTextTFDemiAlt';
		font-size:12px;
		color:#999;
		text-transform: uppercase;
	}

	input[type="text"].mini, input[type="email"].mini{
		width: 330px;
	}

	textarea{
		width: 516px;
		border:1px solid #dedcd5;
		background-color:#f0f0ed;
		border-radius: 3px;
		margin: 10px 0;
		height: 132px;
		font-family: 'NeutraTextTFDemiAlt';
		font-size:12px;
		color:#999;
		text-transform: uppercase;
		padding:17px;
		resize: none;
	}
	input[type="submit"]{
	float: right;
	color:#FFF;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	width: 149px;
	padding-top: 3px;
	height: 35px;
	margin-top:20px;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	text-align: center;
	font-family: 'NeutraTextTFDemiAlt';
	background: #044c2a;
	background: -moz-linear-gradient(top, #068348 0%, #044c2a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#068348), color-stop(100%,#044c2a));
	background: -webkit-linear-gradient(top, #068348 0%,#044c2a 100%);
	background: -o-linear-gradient(top, #068348 0%,#044c2a 100%);
	background: -ms-linear-gradient(top, #068348 0%,#044c2a 100%);
	background: linear-gradient(to bottom, #068348 0%,#044c2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#068348', endColorstr='#044c2a',GradientType=0 );
	}

	select{
		height: 35px;
		padding-top:7px;
		direction: block;
	}
}


.vaga-item{
	padding-bottom:100px;
	width:710px;
	padding-top:50px;
	border-bottom:1px solid #dedede;

	p{
		width: 510px;
	}
}
.noticia{
	border-bottom: 1px solid #D3D3D3;
    float: left;
    overflow: hidden;
    padding: 50px 0 20px;
    width: 710px;

    .image{
    	float:left;
    	margin: 5px;
    }
    .description{
    	float:left;
    	margin: 5px;

    	&.small{
    		width: 330px;
    	}
    } 

}
.noticia h3{
	line-height: 36px;
}

.news-date{
	display:block;
	padding-top:10px;
}
.leia-mais{
	font-family: 'NeutraTextTFDemiAlt';
	font-size: 11px;
	color:#FFF;
	text-decoration:none;
	text-transform: uppercase;
	text-align: center;
	display:block;
	width:93px;
	height:21px;
	padding-top: 2px;
	margin-top: 15px;
	background: #056034;
	background: -moz-linear-gradient(top, #138a51 0%, #04512c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#138a51), color-stop(100%,#04512c));
	background: -webkit-linear-gradient(top, #138a51 0%,#04512c 100%);
	background: -o-linear-gradient(top, #138a51 0%,#04512c 100%);
	background: -ms-linear-gradient(top, #138a51 0%,#04512c 100%);
	background: linear-gradient(to bottom, #138a51 0%,#04512c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#138a51', endColorstr='#04512c',GradientType=0 );
}

#barra-empreendimentos{
	left: 0;
	position: fixed;
	top: 250px;
	z-index: 10;
}
.barra-item{
	position: relative;
	display: block;
	background-color:#2a935c;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor:pointer;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.barra-item:hover, .barra-item.active{
	background-color:#28d078 !important;
}
.barra-item > p{
	background-color: #28D078;
    height: 62px;
    left: 65px;
    position: absolute;
    top: 0;
    width: 160px;
    font-family: 'NeutraTextTFDemiAlt';
    font-size: 18px;
    text-transform: uppercase;
    color:#FFF;
    line-height: 22px;
    padding-top: 22px;
    padding-left: 15px;
    display: none;
}
#vendemos{
	background-image: url("../img/vedemos.png");
    height: 84px;
    width: 65px;
    border-bottom: 1px solid #177d4a;
}
#simulamos{
	background-image:url("../img/simulamos.png");
    height: 84px;
    width: 65px;
    border-top: 1px solid #3aac70;
    border-bottom: 1px solid #177d4a;
}
#ligamos{
	border-top: 1px solid #3aac70;
	background-image:url("../img/ligamos.png");
    height: 84px;
    width: 65px;
}
.login-restrita{
	background: none repeat scroll 0 0 #006A4A;
    display: none;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 37px;
    width: 174px;
    height: 138px;
    z-index: 1;
}
.login-restrita input[type="text"], .login-restrita input[type="password"]{
	width: 154px;
	display: block;
}
.login-restrita input[type="submit"]{
	font-size: 15px;
    height: 32px;
    margin-top: 5px;
    width: 90px;
    color:#006A4A;
    background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #ddddda 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ddddda));
	background: -webkit-linear-gradient(top, #fefefe 0%,#ddddda 100%);
	background: -o-linear-gradient(top, #fefefe 0%,#ddddda 100%);
	background: -ms-linear-gradient(top, #fefefe 0%,#ddddda 100%);
	background: linear-gradient(to bottom, #fefefe 0%,#ddddda 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ddddda',GradientType=0 );
}
.logado{
	background-color: #056839;
    height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.logado-container{
	width: 960px;
	margin:auto;
}
.buttom-top{
	background: none repeat scroll 0 0 #097340;
    color: #FFFFFF;
    display: block;
    float: right;
    font-family: 'NeutraTextTFDemiAlt';
    font-size: 12px;
    padding: 14px 0 11px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 65px;
    border-left: 1px solid #0c7a46;
    &.acompanhar{
    	width: 160px;
    	border-right: 1px solid #004826;
    }
}
.hello{
	border-right: 1px solid #004826;
    color: #FFFFFF;
    float: right;
    font-family: 'NeutraTextTFDemiAlt';
    font-size: 12px;
    padding: 14px 50px 11px 0;
    text-transform: uppercase;
}
.progresso{
	float: left;
    padding-top: 40px;
    width:940px;
}
#bg-barra{
	background-color: #2b2b2b;
	border-radius: 20px;
	margin-top: 20px;
	width: 500px;
	height: 33px;
}
#barra{
	background-color: #349C69;
    border-radius: 20px 20px 20px 20px;
    float: left;
    height: 23px;
    margin: 5px;
    width: 0%;
    text-align: right;
}
#barra p{
	color: #FFFFFF;
    font-family: 'NeutraTextTFBookAlt';
    font-size: 13px;
    padding: 6px 20px 0 0;
    text-transform: uppercase;
}
.banner-bg-back{
	width:890px;
	background-color:#6ab291;
	height:390px;
	left: -240px !important;
	transform: skew(130deg) !important;
	opacity: 0.65 !important;
}
.banner-bg-front{
	width:890px;
	background-color:#0b2719;
	height:390px;
	left: -300px !important;
	transform: skew(130deg) !important;
	opacity: 0.65 !important;
}
.caption-empreendimento span{
	font-family: 'NeutraTextTFDemiAlt';
	color:#FFF;
	font-size:30px;
	text-transform:uppercase;
	display: block;
	line-height: 15px;
}
.caption-empreendimento span + span{
	font-family: 'novecento_widelight';
	font-size: 55px;
	line-height: 70px;
}
.link-banner{
	background: url("../img/link-banner.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF !important;
    font-family: 'NeutraTextTFBookAlt';
    font-size: 20px;
    padding: 11px 0 10px 35px;
    text-transform: uppercase;
}
.barra{
	margin-left: 1px;
	height:16px;
	width:100px;
	border-radius: 0 10px 10px 0;
	background: #309360;
	background: -moz-linear-gradient(left, #4bc996 0%, #309360 100%);
	background: -webkit-gradient(linear, left right, left right, color-stop(0%,#4bc996), color-stop(100%,#309360));
	background: -webkit-linear-gradient(left, #4bc996 0%,#309360 100%);
	background: -o-linear-gradient(left, #4bc996 0%,#309360 100%);
	background: -ms-linear-gradient(left, #4bc996 0%,#309360 100%);
	background: linear-gradient(to right, #4bc996 0%,#309360 100%);
}
.progresso-item{
	overflow:hidden;
	font-family: 'NeutraTextTFDemiAlt';
	font-size: 12px;
	text-transform: uppercase;
}
.progresso-name{
	float:left;
	width: 220px;
	padding-right: 12px;
	text-align: right;
	padding-top: 3px;
	border-right: 1px solid #999999;
	height: 45px;
}
.barra-container{
	float:left;
	width:465px;
}
.valor-progresso{
	padding-top: 5px;
}

//colorbox

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{outline:0;}
    #cboxTopLeft{width:25px; height:25px; background:url(../img/border1.png) no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(../img/border1.png) repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url(../img/border1.png) no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:25px; background:url(../img/border1.png) no-repeat 0 -25px;}
    #cboxBottomCenter{height:25px; background:url(../img/border1.png) repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:25px; background:url(../img/border1.png) no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url(../img/border2.png) repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url(../img/border2.png) repeat-y -25px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:20px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #cboxLoadingOverlay{background:#fff url(../img/loading.gif) no-repeat 5px 5px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}